<!DOCTYPE html>
<html>
  <head>
    <title>LensLook</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='home.css') }}"
    />
    <script src="{{ url_for('static', filename='home.js') }}" defer></script>
  </head>

  <body>
    <div
      id="loading"
      style="
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
      "
    >
      <div
        style="
          background-color: #fefefe;
          margin: 15% auto;
          padding: 20px;
          border: 1px solid #888;
          width: 80px;
          height: 80px;
          border-radius: 50%;
          animation: pulse 2s infinite;
        "
      ></div>
    </div>

    <div class="header">
      <div class="logo">LensLook</div>
      <div class="user-controls">
        <button class="profile-button">
          <i class="fas fa-user"></i> Profile
        </button>
        <button class="logout-button">
          <i class="fas fa-sign-out-alt"></i> Logout
        </button>
      </div>
    </div>

    <form class="search-bar" action="/home" method="POST">
      <input type="text" name="search" id="search" placeholder="Search Image" />
      <button id="submit" type="submit">Search</button>
    </form>

    <div class="image-grid">
      <div class="drop-zone" id="drop-zone">
        Drag and drop an image here or click to upload
      </div>

      {% for image in images %}
      <img src="{{ image }}" alt="Image" />
      {% endfor %}
    </div>
  </body>
</html>
